
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto+Flex:opsz,wght@8..144,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=PT+Sans&family=Roboto+Flex:opsz,wght@8..144,200&display=swap');
body{
    /* background: url(../imgs/home.png);
     */
     background-color: black;
    background-size: cover;
    height: 100vh;
    width: 100%;
    
    font-size: 20px;
}

.left{
    /* border: 3px solid blueviolet; */
    display: inline-block;
    position: relative;
    /* left: 40px; */
    /* top: 41px; */
    
    }
    .left img{
        width: 60px;
        display: block;
        filter: invert(100%);
        padding-left: 0px;
        margin-left: 11px;
    }
    
.left div{
    font-size: 15px;
    color: aliceblue;
}

.qww{
    /* border: 3px solid wheat; */
    display: block;
    width: 60%;
    margin: auto auto 0px;
    padding-right: 30px;
    font-family: 'Roboto Flex', sans-serif;
    
}
.right,.wer{
    /* border: 3px solid yellowgreen; */
    display: inline-block;
    position: absolute;
    top: 35px;
    right: 30px;
    font-family: 'Lato', sans-serif;
font-family: 'Roboto Flex', sans-serif;

}

.aq:hover{
    color: gray;
}

.text:hover{
color: rgb(183, 174, 174);
}
.about{
    margin-top: 50px;
    display: flex;
    padding-left: 10%;
    /* padding-right: 10%; */
    margin-right: 20px;
    height:300px ; margin: 20px;

}
.card{
    margin-left: 30px;
    margin-top: 50px;
    display: flex;
    /* padding-left: 10%; */
    /* padding-right: 10%; */
    margin-right: 20px;
    /* height:300px ; */
     margin: 20px;
}
.text1{
    width: 30%;
    color: white;
    font-family: 'Lato', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Roboto Flex', sans-serif;
margin-right: 20px;
}

.navbar-toggler {
    padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
    font-size: var(--bs-navbar-toggler-font-size);
    line-height: 1;
    color: var(--bs-navbar-color);
    background-color: transparent;
    border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color);
    border-radius: var(--bs-navbar-toggler-border-radius);
    transition: var(--bs-navbar-toggler-transition);
    background: black;
}


.losi{
text-decoration: none;
}
.losi:hover{

    color: rgb(106, 102, 106);
}
@media only screen and (max-width: 992px) {
    .about {
     padding-top: 20px;
      display: block;
      
    }
    .text1{
        width: auto;
    }
    .card{
        margin-top: 20px;
    }
    
  }
.nw{
    margin-top: 20px;
    font-size: 15px;
    text-decoration: none;
    background-color: white;
    border: none;

}
.nav-item{
    margin-left: 5px;
}
.appointment{
    margin-top: 160px;
    height: auto;
    
    width: auto;
    background-color:bisque;

}
.timings{
    display: inline-block;
}
.membership{
    display: inline-block;
    position: absolute;
    right: 0px;
}
